.card {
    background-color: rgba(255, 255, 255, 0);
}
.card-header a.nav-link{
    color: rgb(207, 218, 236);
}
.card-header a.nav-link.active{
    color: rgb(207, 218, 236);
    border-color:     rgba(255,255,255,0);
    background-color: rgba(21, 25, 29, 0.514);
}
.card-header a.nav-link:hover{
    border-color: rgba(255,255,255,0);
}
.card-body {
    background-color: rgba(21, 25, 29, 0.514);
}
.card-body table{
    margin:0;
}
.card-body-no-padding {
    padding:0;
}
.card .divider {
    border-color: rgb(182, 183, 185);
    margin: 40px 0 20px 0;

}
.total-score{
    background-color:rgb(89, 109, 201);
}
.card-header{
    background-color: none;
    color:white;
}
.card h5{
    margin:0;
}

.nb-card{
    max-width:500px;
	margin:30px auto;
	padding:20px 25px;
}
.nb-card .card-body {
    min-height: 400px;
    vertical-align: middle;
}
.nb-card input, .navbar-nav input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.nb-card a{
    color:rgb(207, 218, 236);
}
footer, .navbar.bg-dark , .bg-dark { 
    background-color:rgba(0, 0, 0, 0.705) !important;
}


.nb-card .col-form-label, .control-label{
    color:rgb(207, 218, 236);
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
}
.row.no-gutters>.col {
    padding-right: 2.5px;
      padding-left: 2.5px;
}

#navbarToggleExternalContent {
    margin-top: 58px;
}
#container {
    margin-top: 80px;
}