.nb-card{
    max-width:500px;
	margin:30px auto;
	
	padding:20px 25px;
}
.nb-card .card-body {
    min-height: 400px;
    vertical-align: middle;
}
.nb-card .card {
    background:none;
}
.nb-card .card-body {
    background:white;
}
